@font-face {
    font-family: "Art-nuvo";
    src: url("Art-nuvo.otf")
}

:root{
    --color-primario:rgb(135, 183, 223);
    --color-secundario:#E3B5CF;
    --color-terciario: #580d0c;
    --color-claro: #f1eae5;
    --color-oscuro: #000000;
    --color-blanco: white;
    --fuente-primaria: "Art-nuvo";
    --fuente-secundaria: "Montserrat";
}

html{
    font-size: 1rem;
}

body{
    margin: 0%;
    background-color: var(--color-blanco);
    font-family: var(--fuente-secundaria);
}


/*Header*/

header{
    background-color: var(--color-blanco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    box-shadow: 0px 0px 10px rgb(156, 146, 146);
    top: 0px;
    padding: 1.5%;
    font-family: var(--fuente-primaria);
    font-size: 20px;
    z-index: 20;
}

.navbar-nav .nav-link {
    color: var(--color-primario);
}

.navbar-nav .nav-link:hover {
    color: var(--color-oscuro);
}

.dropdown-menu {
    background-color: var(--color-blanco);
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.dropdown-menu .dropdown-item {
    color: var(--color-primario);
}

.dropdown-menu .dropdown-item:hover{
    background-color: rgba(135, 183, 223, 0.6);
    color: var(--color-oscuro);
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.img_log{
    width: 70px;
}

.header_navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid black;
}

.header_pagina{
    display: flex;
    width: 1fr;
    border: 1px solid black;
}

/*Elementos generales*/

ul{
    list-style: none;
}

a{
    color: var(--color-primario); /*me rompió todo*/
    text-decoration: none;
}

a:hover{
    color: var(--color-oscuro);
}

h1{
    font-family: var(--fuente-primaria);
    font-size: 50px;
    color: var(--color-oscuro);
}

h2{
    font-family: var(--fuente-primaria);
    font-size: 50px;
    color: var(--color-oscuro);
}

/*Inicio*/

.main_presentacion{
    display: flex;
    flex-direction: column;
    padding: 5%;
    text-align: center;
    background-image: url("../imagenes/fondo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    font-family: var(--fuente-primaria);
    font-size: 70px;
}

.main-horizontal{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px,1fr));
    padding: 5%;
    place-items: center;
    justify-content: space-around;
}

.titulo{
    font-family: var(--fuente-primaria);
    font-size: 50px;
    color: var(--color-oscuro);
    position: relative;
    display: inline-block; /* importante para que el pseudo-elemento se alinee con el contenido */
    padding-bottom: 1%; /* espacio para la “sombra” debajo */
}

.titulo::after {
    content: ""; /*para que funcione*/
    position: absolute;
    bottom: 0;
    left: 50%; /* centro */
    transform: translateX(-50%); /* lo centra */
    width: 500px; /* más ancho que el texto */
    height: 4px;
    background: linear-gradient(to right, transparent, var(--color-primario), transparent);
    pointer-events: none;
}

.seccion{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 3%;
}

.grilla-inicio{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px,1fr));
    margin: 2%;
}

.grilla-inicio-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 8%;
    padding-bottom: 8%;
    margin: 5%;
    transition: transform 0.2s ease-in-out;

}

.contenedor{
    position: relative;
}

.transicion{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
}

.contenedor:hover .transicion{
    opacity: 1;
}

/*Banner*/

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(135, 183, 223, 0.7);
    font-family: var(--fuente-secundaria);
    padding: 2%;
}

.banner-redes{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;
}

.banner-redes-item{
    margin: 10%;
}

/*Grilla de inicio: dos columnas*/

.grilla-dos-columnas{
display: grid;
grid-template-columns: 1fr 0.6fr;
}


.grilla-item{
    display: flex;
    flex-direction: column;
    margin: 2%;
    padding: 10%;
    text-align: center;
    justify-content: center;
}

.carousel-inner{
    width: auto;
}


/*Productos*/

.grilla{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    margin: 2%;
}

.item{
    display: flex;
    flex-direction: column;
    margin: 5%;
    padding-top: 8%;
    font-weight: bold;
    /* box-shadow: 0px 0px 10px rgb(156, 146, 146);*/
}

.item-contenedor{
    color: #000000;
}

.producto_informacion{
    padding: 5%;
}
.comprar{
    background-color: var(--color-primario);
    border: none;
    color: var(--color-oscuro);
    padding: 5%;
    border-radius: 10px;
    margin-right: 4%;
}

.comprar:hover{
    background-color: var(--color-secundario);
}


/*Otra cosa*/


.imagen{ /*No se de qué es*/
    box-shadow: 0px 0px 10px rgb(156, 146, 146);
    border-radius: 10px;
}

.boton-inicio{
    padding: 5%;
}

.titulo-boton{
    color: #000000;
    font-size: 20px;
}


/* Pagina de contacto y mapa*/

.pagina-contac-inf{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px,1fr));
}

.mapa{
    margin: 5%;
}

.formulario{
    display: flex;
    flex-direction: column;
    font-family: var(--fuente-secundaria);
    padding: 5%;
}

.input-form{
    margin: 2%;
    border: solid 2px var(--color-primario);
    border-radius: 10px;
    width: 350px;
    height: auto;
    padding: 2%;
}

/*Elementos generales*/

.boton{
    margin: 2%;
    padding: 4%;
    border: solid var(--color-primario);
    border-radius: 10px;
    width: auto;
    height: auto;
    text-align: center;
}

.boton:hover{
    background-color: var(--color-primario);
}    

.texto{
    background-color: rgba(129, 185, 218, 0.8);
    padding: 5%;
    border-radius: 10px;
    font-size: 20px;
}

.lista-estilo{
    display: flex;
    flex-direction: column;
    text-align: start;
    list-style-type: disc;
}



/* Footer*/

footer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
    margin-top: 2%;
    background-color: var(--color-primario);
    padding: 2%;
}

.seccion-footer{
    display: flex;
    flex-direction: column;
}

.item-footer{
    color: var(--color-oscuro);
}

.item-footer:hover{
    color: #00325a;
}

.fa-instagram{
    font-size: 40px;
    color: #000000;
}

.fa-whatsapp{
    font-size: 40px;
}

@media only screen and (max-width:600px){
    footer{
        flex-direction: column;
    }
}